@import-once "elements.less";
@import-once "kif-common";
@import-once "kif-menu";
@import-once "kif-details";
@import-once "kif-metadata";

body { background: @bg-color; }

#footer {
    font-size: 12;
    width: 100%;
    p {
        text-align: right;
    }
}